@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.about-me-section-bg-container {
    background-color: #323f4b;
    padding-top: 44px;
    padding-bottom: 44px;
}

.section-heading {
    color: #cced00;
    font-size: 24px;
}

.main-heading {
    color: #ffffff;
}

.about-me-section-description {
    color: #9aa5b1;
}

.skills-section-bg-container {
    background-color: #1f2933;
    padding-top: 44px;
    padding-bottom: 44px;
}

.skills-item {
    background-color: #323f4b;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.skills-image {
    width: 60px;
}

.skills-name {
    color: #ffffff;
    font-size: 24px;
    margin-top: 8px;
}